{% extends "employees/header.html" %}
{% load static %}
{%block title %} Admin|Projects All Followup {% endblock title %}
{% block control %} Projects All Followup {% endblock %}
{% block page %} Projects All Followup {% endblock %}
{% block content1 %}
<section class="content">
    <div class="container">
        <h2>Projects All Followup</h2>
        <div class="box box-primary">
            <div class="box-header">
                <i class="ion ion-clipboard"></i>
                <h3 class="box-title">Enquiry Followup here</h3>
                <div class="box-tools pull-right">
                    <ul class="pagination pagination-sm inline">
                        {% if feedback_obj.has_previous %}
                        <li><a href="?page={{ feedback_obj.previous_page_number }}">Previous</a></li>
                        {% endif %}
                        <li><a href="#">Page {{ feedback_obj.number }} of
                                {{ feedback_obj.paginator.num_pages }}.</a></li>
                        {% if feedback_obj.has_next %}
                        <li><a href="?page={{ feedback_obj.next_page_number }}">next</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="box-body">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Project or Enquiry Name</th>
                            <th>Comment</th>
                            <th>Follow Date</th>
                            <th>Edit</th>
                            <th>Delete</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for f in feedback_obj %}
                        <tr>
                            <td>
                                <span class="handle">
                                    <i class="fa fa-ellipsis-v"></i>
                                    <i class="fa fa-ellipsis-v"></i>
                                </span>
                            </td>
                            <td>{{ f.enquiry_name }}</td>
                            <td>{{ f.Comment }}</td>
                            <td> {{ f.followup_date }}</td>
                            <td><a href="update_followup/{{ f.id }}" class="btn-warning"><i
                                        class="fa fa-edit"></i></a></td>
                            <td><a onclick="return confirm('Delete this record?')"
                                    href="delete_followup/{{ f.id }}"><i class="fa fa-trash-o"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div><!-- /.box-body -->
            <div class="box-footer clearfix no-border">
                <button class="btn btn-default pull-right"><i class="fa fa-plus"></i><a href="/follow_up_create">
                        Daily Follow
                        Up </a></button>
            </div>

    </div>
</section>
</div>
{% include 'employees/footer.html' %}

<script>
    $('a.delete').on('click', function () {
      var choice = confirm('Do you really want to delete this record?');
      if (choice === true) {
        return true;
      }
      return false;
    });

  </script>

{% endblock %}