{% extends "employees/header.html" %}
{% load static %}
{%block title %} Admin|Client {% endblock title %}
{% block control %} View Client {% endblock %}
{% block page %} Client Detail {% endblock %}
{% block content1 %}
<section class="content">
    <div class="container">
        <h2>client Information</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Company Name</th>
                    <th>Linkedln Profile</th>
                    <th>Mobile number</th>
                    <th>whats App</th>
                    <th>Nationality</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ client_info.first_name }} {{ client_info.last_name }}</td>
                    <td>{{ client_info.company_name }}</td>
                    <td>{{ client_info.linkedln_profile }}</td>
                    <td>{{ client_info.mobile_no }}</td>
                    <td>{{ client_info.whatsapp_number }}</td>
                    <td>{{ client_info.nationality }}</td>
                </tr>

            </tbody>
        </table>
    </div>
</section>
</div>
{% include 'employees/footer.html' %}
{% endblock %}