{% extends "employees/header.html" %}
{% load static %}

{%block title %} Admin|Invoice {% endblock title %}
{% block control %} Invoice {% endblock %}
{% block page %} Invoice {% endblock %}
{% block content1 %}

<section class="invoice">
  <!-- title row -->
  <div class="row">
    <div class="col-xs-12">
      <h2 class="page-header">
        <i class="fa fa-globe"></i> {{ invoice_info.company_name }}
        <small class="pull-right"> {{ invoice_info.date }}</small>
      </h2>
    </div><!-- /.col -->
  </div>
  <!-- info row -->
  <div class="row invoice-info">
    <div class="col-sm-4 invoice-col">
      From
      <address>
        <strong>{{ invoice_info.by_company_name }}</strong><br>
        795 Folsom Ave, Suite 600<br>
        San Francisco, CA 94107<br>
        Phone: (804) 123-5432<br />
        Email: info@almasaeedstudio.com
      </address>
    </div><!-- /.col -->
    <div class="col-sm-4 invoice-col">
      To
      <address>
        <strong>{{ invoice_info.client_name }}</strong><br>
        795 Folsom Ave, Suite 600<br>
        San Francisco, CA 94107<br>
        Phone: (555) 539-1037<br />
        Email: john.doe@example.com
      </address>
    </div><!-- /.col -->
    <div class="col-sm-4 invoice-col">
      <b>Invoice {{ invoice_info.id }}</b><br />
      <br />
      <b>Order ID:</b> 4F3S8J<br />
      <b>Payment Due:</b> 2/22/2014<br />
      <b>Account:</b> 968-34567
    </div><!-- /.col -->
  </div><!-- /.row -->

  <!-- Table row -->
  <div class="row">
    <div class="col-xs-12 table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Serial #</th>
            <th>Project Name</th>
            <th>Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>{{ invoice_info.project_name}}</td>
            <td><i class="fa fa-inr"></i>{{ invoice_info.amount_received }}</td>
          </tr>

        </tbody>
      </table>
    </div><!-- /.col -->
  </div><!-- /.row -->

  <div class="row">
    <!-- accepted payments column -->
    <div class="col-xs-6">
      <!-- <p class="lead">Payment Methods:</p>
      <img src="../../dist/img/credit/visa.png" alt="Visa"/>
      <img src="../../dist/img/credit/mastercard.png" alt="Mastercard"/>
      <img src="../../dist/img/credit/american-express.png" alt="American Express"/>
      <img src="../../dist/img/credit/paypal2.png" alt="Paypal"/>
      <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
        Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem plugg dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra.
      </p> -->
    </div>
    <div class="col-xs-6">
      <p class="lead">Amount Paid on {{ invoice_info.date }}</p>
      <div class="table-responsive">
        <table class="table">
          <tr>
            <th style="width:50%">Subtotal:</th>
            <td><i class="fa fa-inr"></i>{{ invoice_info.amount_received }}</td>
          </tr>
          <tr>
          {% if invoice_info.date.year >= 2007 %}
            <th>Tax GST (18%)</th>
            <td><i class="fa fa-inr"></i> {{ invoice_info.tax }}</td>
            {% else %}
            <th>Tax VAT (10%)</th>
            <td><i class="fa fa-inr"></i> {{ invoice_info.tax }}</td>
          {% endif %}
          </tr>
          <tr>
            <th>Discount(10%):</th>
            <td><i class="fa fa-inr"></i> {{ invoice_info.discount }}</td>
          </tr>
          <tr>
            <th>Total:</th>
            <td><i class="fa fa-inr"></i> {{ invoice_info.total_amount }}</td>
          </tr>
        </table>
      </div>
    </div><!-- /.col -->
  </div><!-- /.row -->

  <!-- this row will not appear when printing -->
  <div class="row no-print">
    <div class="col-xs-12">
      <!-- <a href="/print_pdf/{{ invoice_info.project_income_id }}" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Print</a> -->
      <button class="btn btn-primary pull-right" style="margin-right: 5px;"><i class="fa fa-download"></i> Generate
        PDF</button>
    </div>
  </div>
</section>
</div>
{% include 'employees/footer.html' %}

{% endblock %}