{% extends "employees/header.html" %}
{% load static %}

{%block title %} Admin|Employee Information {% endblock title %}
{% block control %} Employee Information {% endblock %}
{% block page %} Employee Information {% endblock %}



{% block content1 %}

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Employee</h3>
          <div class="row">
            <div class="col-sm-12">
              <div class="dataTables_filter">
                <form action="" method="POST">
                  {% csrf_token %}
                  <label>FROM:
                    <input type="date" name="datef" class="form-control input-sm">
                  </label>
                  <label>TO:
                    <input type="date" name="datet" class="form-control input-sm">
                  </label>
                  <input type="submit"></input>
                </form>
              </div>
            </div>
          </div>
        </div><!-- /.box-header -->
        <div class="box-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Employee Id</th>
                <th>Employee Name</th>
                <th>Joining Date</th>
                <th>Mobile Number</th>
                <th>Birthdate</th>
                <th>Aadhar Number</th>
                <th>Profile Image</th>
                <th>Sallary</th>
              </tr>
            </thead>
            <tbody>
              {% for employee  in emp_info %}
              <tr>
                <td>{{ employee.id }}</td>
                <td>{{ employee.first_name }} {{ employee.last_name}} </td>
                <td>{{ employee.start_date }}</td>
                <td>{{ employee.mobile_number }}</td>
                <td>{{ employee.dob }}</td>
                <td>{{ employee.aadhar }}</td>
                <td>{{ employee.profile_image }}</td>
                <td>{{ employee.name.sallary }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->
  </div><!-- /.row -->
  <div class="row">
    <div class="col-sm-5">

    </div>
    <div class="col-sm-7">
      <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
        <ul class="pagination pagination-sm inline">
          {% if emp_info.has_previous %}
          <li><a href="?page={{ emp_info.previous_page_number }}">Previous</a></li>
          {% endif %}
          <li><a href="#">Page {{ emp_info.number }} of {{ emp_info.paginator.num_pages }}.</a></li>
          {% if emp_info.has_next %}
          <li><a href="?page={{ emp_info.next_page_number }}">next</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>

</section>
</div>

{% include 'employees/footer.html' %}

{% endblock %}