{% extends "employees/header.html" %}
{% load static %}
{%block title %} Admin|Dashboard {% endblock title %}
{% block control %} control Panel {% endblock %}
{% block page %} Dashboard {% endblock %}

{% block side_nav %}

<li class="active treeview">
  <a href="/employee_admin">
    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
  </a>
</li>
<li class="active treeview">
  <a href="/proj_dashboard">
    <i class="fa fa-dashboard"></i> <span>Project Dashboard</span>
  </a>
</li>

<li class="treeview">
  <a href="#">
    <i class="fa fa-pie-chart"></i>
    <span>Employees</span>
    <i class="fa fa-angle-left pull-right"></i>
  </a>
  <ul class="treeview-menu">
    <li><a href="/all_emp"><i class="fa fa-circle-o"></i> All Employee</a></li>
    <li><a href="/create"><i class="fa fa-circle-o"></i> Add New Employee</a></li>
    
  </ul>
</li>
<li class="treeview">
  <a href="#">
    <i class="fa fa-pie-chart"></i>
    <span>client</span>
    <i class="fa fa-angle-left pull-right"></i>
  </a>
  <ul class="treeview-menu">
    <li><a href="/clients"><i class="fa fa-circle-o"></i> All client</a></li>
    <li><a href="/create_client"><i class="fa fa-circle-o"></i> Add New Client</a></li>
    
  </ul>
</li>

<li class="treeview">
  <a href="#">
    <i class="fa fa-pie-chart"></i>
    <span>Projects</span>
    <i class="fa fa-angle-left pull-right"></i>
  </a>
  <ul class="treeview-menu">
    <li><a href="/data_projects/"><i class="fa fa-circle-o"></i> All Projects</a></li>
    <li><a href="/create_project"><i class="fa fa-circle-o"></i> Add New Projects</a></li>
    <li><a href="/project_income_detail"><i class="fa fa-circle-o"></i> Projects Income</a></li>
    <li><a href="/add_project_income"><i class="fa fa-circle-o"></i> Add Projects Income</a></li>
    <li><a href="/proj_assign_details"><i class="fa fa-circle-o"></i> Assigned Projects</a></li>
    <li><a href="/assign_project"><i class="fa fa-circle-o"></i> Assign The Projects to Employee</a></li>
    
  </ul>
</li>

<li class="treeview">
  <a href="#">
    <i class="fa fa-pie-chart"></i>
    <span>PAYROLL</span>
    <i class="fa fa-angle-left pull-right"></i>
  </a>
  <ul class="treeview-menu">
    <li><a href="/all_sal"><i class="fa fa-circle-o"></i> All Sallary</a></li>
    <li><a href="/all_inc"><i class="fa fa-circle-o"></i> All Increment Sallary</a></li>
    <li><a href="/month_Sal"><i class="fa fa-circle-o"></i> Calculate Month Sallary</a></li>
    <li><a href="/increase_Sal"><i class="fa fa-circle-o"></i> Increase sallary</a></li>
    <li><a href="/all_monthly_sallary"><i class="fa fa-circle-o"></i> Monthly Total Sallary</a></li>
    
  </ul>
</li>

<li class="treeview">
  <a href="#">
    <i class="fa fa-pie-chart"></i>
    <span>ENQUIRY</span>
    <i class="fa fa-angle-left pull-right"></i>
  </a>
  <ul class="treeview-menu">
    <li><a href="/all_enq"><i class="fa fa-circle-o"></i> All Enquiry</a></li>
    <li><a href="/all_followup"><i class="fa fa-circle-o"></i> All Enquiry Followup</a></li>
    <li><a href="/alert"><i class="fa fa-circle-o"></i> Alert</a></li>
    <li><a href="/month_Sal"><i class="fa fa-circle-o"></i> Add new Enquiry</a></li>
    <li><a href="/increase_Sal"><i class="fa fa-circle-o"></i> Add Followup</a></li>
    
  </ul>
</li>


<li>
  <a href="/employee_data/">
    <i class="fa fa-th"></i> <span>All Employees</span>
  </a>
</li>



{% endblock %}


{% block content1 %}

<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3>{{ emp_count }}</h3>
          <p>Employees</p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <h3>{{ client_count }}</h3>
          <p>Client</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3>{{ user_count }}</h3>
          <p>Users</p>
        </div>
        <div class="icon">
          <i class="ion ion-person-add"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-red">
        <div class="inner">
          <h3>{{ enq_count }}</h3>
          <p>Enquiry</p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
        <a href="/enquiry_dashboard" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>

  </div><!-- /.row -->
  <!-- Main row -->
  <div class="row">
  </div>
  </div>

  {% include 'employees/footer.html' %}
  
  {% endblock %}