{% extends "employees/header.html" %}
{% load static %}

{%block title %} Admin|employee {% endblock title %}
{% block control %} Employees {% endblock %}
{% block page %} Employees{% endblock %}
{% block content1 %}

<section class="content">
    <div class="box box-primary">
        <div class="box-header">
            <i class="ion ion-clipboard"></i>
            <h3 class="box-title">All Employees </h3>
            <div class="row">
                <div class="col-sm-6">
                    <div class="dataTables_filter">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <label>FROM:
                                <input type="date" name="datef" class="form-control input-sm">
                            </label>
                            <label>TO:
                                <input type="date" name="datet" class="form-control input-sm">
                            </label>
                            <input type="submit"></input>
                        </form>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="dataTables_filter">
                        <form action="{% url 'employees' %}" method="GET" value="{{request.GET.q}}">
                            Search <input type="text" name="q" value="{{request.GET.q}}" placeholder="Search posts" />
                            <input type="submit" name="submit" value="Search" />
                        </form>

                    </div>
                </div>
            </div>
            <div class="box-tools pull-right">
                {% if emp_info.has_other_pages %}
                <ul class="pagination pagination-sm inline">
                    {% if emp_info.has_previous %}
                    <li><a href="?page={{ emp_info.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in emp_info.paginator.page_range %}
                    {% if emp_info.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if emp_info.has_next %}
                    <li><a href="?page={{ emp_info.next_page_number }}">&raquo;</a></li>
                    {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
        </div><!-- /.box-header -->
        <div class="box-body">
            <ul class="todo-list">

                <li>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Start Date</th>
                                <th>Mobile number</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for es in emp_info %}
                            <tr>
                                <td><a href="/view_emp/{{ es.id }}">{{ es.first_name}} {{ es.last_name }}</a></td>
                                <td>{{ es.start_date}}</td>
                                <td>{{ es.mobile_number}}</td>
                                <td><a href="/update_emp/{{ es.id }}">Edit</a></td>
                                <td><a href="/delete_emp/{{ es.id }}">Delete</a></td>
                            </tr>
                            {% endfor %}
                            
                            {% if submitbutton == 'Search' and request.GET.q != '' %}
                                    {% if emp_info12 %}
                                    <h1>Results for <b>{{ request.GET.q }}</b></h1>
                                    <br /><br />
                            {% for es in emp_info12 %}
                            <tr>
                                <td><a href="/view_emp/{{ es.id }}">{{ es.first_name}} {{ es.last_name }}</a></td>
                                <td>{{ es.start_date}}</td>
                                <td>{{ es.mobile_number}}</td>
                                <td><a href="/update_emp/{{ es.id }}">Edit</a></td>
                                <td><a href="/delete_emp/{{ es.id }}">Delete</a></td>
                            </tr>
                            {% endfor %}

                            {% endif %}
                            {% endif %}
                </tbody>
                    </table>
</section>
</div>
{% include 'employees/footer.html' %}

<script>
    $('a.delete').on('click', function () {
        var choice = confirm('Do you really want to delete this record?');
        if (choice === true) {
            return true;
        }
        return false;
    });

</script>
{% endblock %}