{% extends "employees/header.html" %}
{% load static %}
{%block title %} Admin|View Monthly extra expenses {% endblock title %}
{% block control %} View Monthly extra expenses {% endblock %}
{% block page %} View Monthly extra expenses Detail {% endblock %}
{% block content1 %}
<section class="content">
    <div class="container">
        <h2>View Monthly extra expenses Information</h2>

      <div class="box box-primary">
        <div class="box-header">
          <i class="ion ion-clipboard"></i>
          <h3 class="box-title">Monthly Total Expenses</h3>
          <div class="box-tools pull-right">
            <ul class="pagination pagination-sm inline">
              {% if feedback_obj.has_previous %}
              <li><a href="?page={{ feedback_obj.previous_page_number }}">Previous</a></li>
              {% endif %}
              <li><a href="#">Page {{ feedback_obj.number }} of {{ feedback_obj.paginator.num_pages }}.</a></li>
              {% if feedback_obj.has_next %}
              <li><a href="?page={{ feedback_obj.next_page_number }}">next</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
        <div class="box-body">

          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Month</th>
                <th>Total Amount</th>
              </tr>
            </thead>
            <tbody>
              {% for month in months %}
              <tr>
                <td>
                  <span class="handle">
                    <i class="fa fa-ellipsis-v"></i>
                    <i class="fa fa-ellipsis-v"></i>
                  </span>
                </td>
                <td>{{ month.month}}/{{month.year}}</td>
                {% if month.month in amount %}
                <td>{{ amount|get_item:month.month }}</td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>


        </div>
</section>
</div>
{% include 'employees/footer.html' %}
<script>
    $('a.delete').on('click', function () {
        var choice = confirm('Do you really want to delete this record?');
        if (choice === true) {
            return true;
        }
        return false;
    });

</script>
{% endblock %}