{% extends "employees/header.html" %}
{% load static %}
{%block title %} Admin|View Yearly extra expenses {% endblock title %}
{% block control %} View Yearly extra expenses {% endblock %}
{% block page %} View Yearly extra expenses Detail {% endblock %}
{% block content1 %}
<section class="content">
    <div class="container">
        <h2>View Yearly extra expenses Information</h2>
        <div class="box box-primary">
            <div class="box-header">
              <i class="ion ion-clipboard"></i>
              <h3 class="box-title">yearly Total Expenses</h3>
              <div class="box-tools pull-right">
                <!-- <ul class="pagination pagination-sm inline">
                  {% if feedback_obj.has_previous %}
                  <li><a href="?page={{ feedback_obj.previous_page_number }}">Previous</a></li>
                  {% endif %}
                  <li><a href="#">Page {{ feedback_obj.number }} of {{ feedback_obj.paginator.num_pages }}.</a></li>
                  {% if feedback_obj.has_next %}
                  <li><a href="?page={{ feedback_obj.next_page_number }}">next</a></li>
                  {% endif %}
                </ul> -->
              </div>
            </div>
            <div class="box-body">
    
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Year</th>
                    <th>Total Amount</th>
                  </tr>
                </thead>
                <tbody>
                  {% for year in years %}
                  <tr>
                    <td>
                      <span class="handle">
                        <i class="fa fa-ellipsis-v"></i>
                        <i class="fa fa-ellipsis-v"></i>
                      </span>
                    </td>
                    <td>{{ year.year }}</td>
                    {% if year.year in amounts %}
                    <td>{{ amounts|get_item:year.year }}</td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
    

        </div>
</section>
</div>
{% include 'employees/footer.html' %}



{% endblock %}