{% extends "employees/header.html" %}
{% load static %}
{%block title %} Admin|View Company {% endblock title %}
{% block control %} View Company {% endblock %}
{% block page %} View Company Detail {% endblock %}
{% block content1 %}
<section class="content">
    <div class="container">
        <h2>View Company Information</h2>
        <div class="box box-primary">
            <div class="box-header">
                <i class="ion ion-clipboard"></i>
                <h3 class="box-title">Company Profile </h3>
                <div class="box-tools pull-right">
                    {% if page_company.has_other_pages %}
                    <ul class="pagination pagination-sm inline">
                        {% if page_company.has_previous %}
                        <li><a href="?page={{ page_company.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in page_company.paginator.page_range %}
                        {% if page_company.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if page_company.has_next %}
                        <li><a href="?page={{ page_company.next_page_number }}">&raquo;</a></li>
                        {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </div>
            </div><!-- /.box-header -->
            <div class="box-body">
                <ul class="todo-list">

                    <li>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Company Name</th>
                                    <th>Contact</th>
                                    <th>Address</th>
                                    <th>Postal Code</th>
                                    <th>District</th>
                                    <th>State </th>
                                    <th>Country</th>
                                    <th>Edit</th>
                                    <th>Delete</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for proj in page_company %}
                                <tr>
                                    <td>
                                        <span class="handle">
                                            <i class="fa fa-ellipsis-v"></i>
                                            <i class="fa fa-ellipsis-v"></i>
                                        </span>
                                    </td>
                                    <td>{{ proj.company_name }}</td>
                                    <td>{{ proj.contact_number }}</td>
                                    <td>{{ proj.Address }}</td>
                                    <td>{{ proj.postal_code }}</td>
                                    <td>{{ proj.district }}</td>
                                    <td>{{ proj.state }}</td>
                                    <td>{{ proj.country }}</td>
                                    <td><a href="/update_company/{{ proj.id }}" class="btn-warning"><i
                                                class="fa fa-edit"></i></a></td>
                                    <td><a onclick="return confirm('Delete this record?')"
                                            href="/delete_company/{{ proj.id }}"><i class="fa fa-trash-o"></i></a></td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </li>
                </ul>
            </div><!-- /.box-body -->
            <div class="box-footer clearfix no-border">
                <button class="btn btn-default pull-right" type="button" name="button"><i class="fa fa-plus"></i><a
                        href="/create_company">Add Company Details</a></button>
            </div>


        </div>
</section>
</div>
{% include 'employees/footer.html' %}
<script>
    $('a.delete').on('click', function () {
        var choice = confirm('Do you really want to delete this record?');
        if (choice === true) {
            return true;
        }
        return false;
    });

</script>
{% endblock %}